@mixin auth-page {
  display: block;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    height: 400px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 12px;
  }
}
