/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "./colors";
@import './theme';
@import './overlay';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-accent-color-text {
    .mat-mdc-snack-bar-label {
        color: map.get($accent, 500) !important;
        text-align: center;
    }
}

.snackbar-warn-color-text {
    .mat-mdc-snack-bar-label {
        color: map.get($warn, 300) !important;
        text-align: center;
    }
}
