<div class="wrapper" *ngIf="details">
  <mat-card class="devices">
    <div class="heading">
      <h1>Devices</h1>
      <button mat-raised-button color="accent" (click)="openDeviceForm()">
        Add device
      </button>
    </div>

    <div class="columns">
      <p>Name</p>
      <p>Added on</p>
      <p>Status</p>
    </div>
    <cdk-virtual-scroll-viewport
      CdkScrollable
      [itemSize]="60"
      class="example-viewport"
    >
      <div
        class="country-wrapper"
        *cdkVirtualFor="let device of details.devices"
      >
        <div class="country mat-elevation-z2">
          <p>{{ device.name }}</p>
          <p>{{ device.creationAt }}</p>
          <p>{{ device.status.isOperational }}</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card>

  <mat-card class="related-compositions">
    <div class="heading">
      <h1>Linked compositions</h1>
      <button
        mat-raised-button
        color="accent"
        (click)="openLinkCompositionForm()"
      >
        Link composition
      </button>
    </div>
    <div class="columns">
      <p>Code</p>
      <p>Devices</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
    <cdk-virtual-scroll-viewport
      CdkScrollable
      [itemSize]="60"
      class="example-viewport"
    >
      <div
        class="country-wrapper"
        *cdkVirtualFor="let composition of details.relatedCompositions"
      >
        <div class="country mat-elevation-z2">
          <p>{{ composition.code }}</p>
          <p>{{ composition.devicesSize }}</p>
          <p>{{ composition.status.isOperational }}</p>
          <p (click)="unlinkCompositions(composition.id)">Unlink</p>
      </div>
    </div>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</div>
