@import "./card";
@import "./list";

@include row;
@include columns;

.wrapper {

  padding: 0 5vw;
  height: 100%;

  display: flex;
  flex-direction: row;

  .example-viewport {
    min-height: 100%;
  }

  .event-details {
    flex: 1;
    @include card;
    padding: 30px 20px;
  }

  .affected-devices {
    flex: 2;
    margin: 0 15px;
    @include card;
    @include list-margin;
  }

  .signal {
    flex: 1;
    @include card;
    @include list-margin;
  }
}
