<div class="wrapper">
  <mat-card>
    <ng-container *ngIf="countries$ | async as countries">
      <div class="heading">
        <h2>Countries</h2>
        <button mat-raised-button color="accent">
          Add country
        </button>
      </div>
      <div class="list-wrapper">
        <cdk-virtual-scroll-viewport
          CdkScrollable
          [itemSize]="60"
          class="example-viewport"
          (scrolledIndexChange)="onScroll()"
        >
          <div
            class="row-wrapper"
            *cdkVirtualFor="let country of countries"
            (click)="goToDetails(country.id)"
          >
            <div class="row mat-elevation-z2">
              <p>{{ country.name }}</p>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </ng-container>
  </mat-card>
</div>
