<mat-card>
  <h1>{{ dialogTitle }}</h1>
  <form class="example-form" [formGroup]="deviceForm" (ngSubmit)="saveOrEditDevice()">
    <mat-form-field class="example-full-width">
      <mat-label>Device code</mat-label>
      <input formControlName="deviceCode" matInput />
      <mat-error *ngIf="deviceCode.hasError('deviceCodeExists')"
        >Code already taken</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Device name</mat-label>
      <input formControlName="deviceName" matInput />
      <mat-error *ngIf="deviceName.hasError('deviceNameExists')"
        >Name already taken</mat-error
      >
    </mat-form-field>
    <app-single-autocomplete
      [label]="'Device status'"
      [ctrl]="statusCtrl"
      [options$]="statusOptions$"
      (userTextInput)="onStatusInput($event)"
    ></app-single-autocomplete>

    <div class="actions">
      <button mat-raised-button type="button" (click)="close()">Cancel</button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        [disabled]="!deviceForm.valid || !deviceChangedThroughEdit()"
      >
        {{ actionButtonText }}
      </button>
    </div>
  </form>
</mat-card>
