<div class="wrapper">
  <mat-card>
    <div class="heading" *ngIf="currentCity" @fadeIn>
      <h2>Locations in {{ currentCity.name }}</h2>
      <button
        mat-raised-button
        color="accent"
        (click)="openLocationCreationForm()"
      >
        Add location
      </button>
    </div>
    @if (locations !== undefined && locations.length > 0) {
    <div class="table" @fadeIn>
      <div class="columns">
        <p>Name</p>
        <p>Address</p>
        <p>Status</p>
        <p>Compositions</p>
        <p>Actions</p>
      </div>
      <div class="list-wrapper">
        <cdk-virtual-scroll-viewport CdkScrollable [itemSize]="68">
          <div class="row-wrapper" *cdkVirtualFor="let location of locations">
            <div
              class="row mat-elevation-z2"
              [class.not-operational]="!location.isOperational"
              (click)="goToLocationCompositions(location.id, location.name)"
            >
              <p>{{ location.name }}</p>
              <p>{{ location.address }}</p>
              <p>
                {{ location.isOperational ? "Operational" : "Not operational" }}
              </p>
              <p>{{ location.compositionsSize }}</p>
              <app-list-actions
                (delete)="deleteLocation(location.id)"
                (edit)="openLocationEditForm(location)"
              ></app-list-actions>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    } @else {
    <app-no-data></app-no-data>
    }
  </mat-card>
</div>
