
  <mat-card>
    <form [formGroup]="form">
    <h1>Link composition</h1>
    <app-composition-name-autocomplete
      [nameCtrl]="nameCtrl"
      [options$]="options$"
      (userTextInput)="onUserInput($event)"
      (optionChanged)="setOption($event)"
    ></app-composition-name-autocomplete>
    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        [disabled]="form.invalid"
        (click)="linkCompositions()"
      >
        Link
      </button>
    </div>
  </form>
  </mat-card>

