<div class="wrapper">
  <mat-card>
    <div class="heading" *ngIf="currentCountry">
      <h2 @fadeIn>Cities in {{ currentCountry.name }}</h2>
      <button mat-raised-button color="accent" (click)="openCityCreationForm()">
        Add city
      </button>
    </div>

    @if (cities !== undefined && cities.length > 0) {
    <div class="table" @fadeIn>
      <div class="columns">
        <p>Name</p>
        <p>Actions</p>
      </div>
      <div class="list-wrapper">
        <cdk-virtual-scroll-viewport
          CdkScrollable
          [itemSize]="68"
          (scrolledIndexChange)="onScroll()"
        >
          <div
            class="row-wrapper"
            *cdkVirtualFor="let city of cities"
            (click)="goToCity(city.id)"
          >
            <div class="row mat-elevation-z2">
              <p>{{ city.name }}</p>
              <app-list-actions
                (delete)="deleteCity(city.id)"
                (edit)="openCityEditForm(city)"
              ></app-list-actions>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    } @else {
    <app-no-data></app-no-data>
    }
  </mat-card>
</div>
