<div class="wrapper" *ngIf="cities$ | async as cities">
  <mat-card>
    <h2 class="titles">Cities in {{ cities.country.name }}</h2>
    <div class="list-wrapper">
      <cdk-virtual-scroll-viewport
        CdkScrollable
        [itemSize]="60"
        class="example-viewport"
      >
        <div
          class="row-wrapper"
          *cdkVirtualFor="let city of cities.cities"
          (click)="goToCity(city.id)"
        >
          <div class="row mat-elevation-z2">
            <p>{{ city.name }}</p>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-card>
</div>
