@import "./card";
@import "./list";

@include row;
@include columns;

.wrapper {
  padding: 0 5vw;
  height: 100%;

  display: flex;
  flex-direction: row;

  .sidebar {
    flex: 2;
    @include card;
    margin-right: 15px;
    padding: 30px 20px;

    > div {
      mat-button-toggle-group {
        align-self: flex-start;
      }

      > * {
        margin-bottom: 24px;
      }

      mat-datepicker-toggle {
        display: inline-block !important;
      }
    }
  }

  .list {
    flex: 6;
    @include card;
    @include list-margin;
    @include vertical-order;

    .heading {
      @include heading-with-button;
    }
  }
}
