<div class="wrapper">
  <mat-card class="sidebar">
    <h2>Filters</h2>
    <div @fadeIn>
      <mat-form-field>
        <mat-label>Date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            readonly
            [formControl]="startDateCtrl"
            matStartDate
            placeholder="Start date"
          />
          <input
            readonly
            [formControl]="endDateCtrl"
            matEndDate
            placeholder="End date"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker-toggle
          matSuffix
          (click)="clearDates()"
          [disabled]="clearDisabled()"
        >
          <mat-icon matDatepickerToggleIcon>clear</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-button-toggle-group [formControl]="manualInsertCtrl">
        <mat-button-toggle [checked]="true" [value]="ManualInsert.ANY">{{
          ManualInsert.ANY
        }}</mat-button-toggle>
        <mat-button-toggle [value]="ManualInsert.MANUAL">{{
          ManualInsert.MANUAL
        }}</mat-button-toggle>
        <mat-button-toggle [value]="ManualInsert.NOT_MANUAL">{{
          ManualInsert.NOT_MANUAL
        }}</mat-button-toggle>
      </mat-button-toggle-group>

      <app-autocomplete-chips
        [options$]="typeOptions$"
        label="Types"
        placeholder="Type..."
        [itemsCtrl]="typesCtrl"
        [textCtrl]="typeCtrl"
        (inputTextChanged)="handleTypeInput($event)"
      ></app-autocomplete-chips>
    </div>
  </mat-card>

  <mat-card class="list">
    <div class="heading">
      <h2>Events</h2>
      <button mat-raised-button color="accent" (click)="openEventForm()">
        Add manual event
      </button>
    </div>
    @if(events !== undefined && events.length > 0) {
      <div class="table" @fadeIn>
        <div class="columns">
          <p>Type</p>
          <p>Added on</p>
          <p>Manual</p>
        </div>
          <div class="list-wrapper">
            <cdk-virtual-scroll-viewport
              CdkScrollable
              [itemSize]="60"
              (scrolledIndexChange)="onScroll()"
            >
              <div
                class="row-wrapper"
                *cdkVirtualFor="let event of events"
                (click)="goToDetails(event.id)"
              >
                <div class="row mat-elevation-z2">
                  <p>{{ event.typeName }}</p>
                  <p>{{ event.eventCreationAt | date }}</p>
                  <p>{{ event.manualInsert ? 'Yes' : 'No' }}</p>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
          </div>
      </div>
    } @else {
      <app-no-data></app-no-data>
    }
  </mat-card>
</div>
