<div class="wrapper register">
  <div class="card mat-elevation-z8" @fadeIn>
    <div class="fields-wrapper">
      <h1>Register account</h1>
      <form class="fields" [formGroup]="form">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput />
          <mat-error *ngIf="username.hasError('exists')"
            >Username already exists</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            autocomplete="off"
            matInput
          />
          <mat-icon
            matSuffix
            (click)="$event.stopPropagation(); hide = !hide"
            >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
          <mat-error *ngIf="password.hasError('pattern')"
            >Should be at least 10 characters, contain a digit and capital
            letter</mat-error
          >
        </mat-form-field>
      </form>
    </div>

    <div class="action-button">
      <button mat-button [routerLink]="'/login'">
        Already registered? Log in here.
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        [disabled]="form.invalid || formPending"
        (click)="registerUser()"
      >
        Register
      </button>
    </div>
  </div>
</div>
