<div class="wrapper">
  <mat-card class="sidebar">
    <h2>Filters</h2>
    <form [formGroup]="sidepanelForm" @fadeIn>
      <app-autocomplete-chips
        #locationChips
        [options$]="locationOptions$"
        label="Locations"
        placeholder="Location..."
        [itemsCtrl]="locationsCtrl"
        [textCtrl]="locationCtrl"
        (inputTextChanged)="handleLocationInput($event)"
        (chipsChanged)="handleLocationChipsChange()"
      ></app-autocomplete-chips>
      <app-autocomplete-chips
        #cityChips
        [options$]="cityOptions$"
        label="Cities"
        placeholder="City..."
        [itemsCtrl]="citiesCtrl"
        [textCtrl]="cityCtrl"
        (inputTextChanged)="handleCityInput($event)"
        (chipsChanged)="handleCityChipsChange()"
      ></app-autocomplete-chips>
    </form>
  </mat-card>

  <mat-card class="list">
    <div class="heading">
      <h2>Compositions</h2>
      <button
        mat-raised-button
        color="accent"
        (click)="openCompositionCreationForm()"
      >
        Add composition
      </button>
    </div>
    @if(compositions !== undefined && compositions.length > 0) {
    <div class="table" @fadeIn>
      <div class="columns">
        <p>Code</p>
        <p>Devices</p>
        <p>Status</p>
        <p>Actions</p>
      </div>
      <div class="list-wrapper">
        <cdk-virtual-scroll-viewport
          CdkScrollable
          [itemSize]="68"
          class="example-viewport"
          (scrolledIndexChange)="onScroll()"
        >
          <div
            class="row-wrapper"
            *cdkVirtualFor="let composition of compositions"
          >
            <div
              class="row mat-elevation-z2"
              [class.not-operational]="!composition.status.isOperational"
              (click)="goToDetails(composition.id)"
            >
              <p>{{ composition.code }}</p>
              <p>{{ composition.devicesSize }}</p>
              <p>
                {{
                  composition.status.isOperational
                    ? "Operational"
                    : "Not operational"
                }}
              </p>
              <app-list-actions
                (delete)="deleteComposition(composition.id)"
                (edit)="openCompositionEditForm(composition)"
              ></app-list-actions>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
    } @else {
    <app-no-data></app-no-data>
    }
  </mat-card>
</div>
