@use "sass:map";
@import "./colors";
@import "./dimensions";
@import "./list";
@import "./card";

@include row;
@include columns;

.wrapper {
  padding: 0 5vw;
  height: 100%;

  display: flex;
  flex-direction: row;

  .example-viewport {
    min-height: 100%;
  }

  .sidebar {
    flex: 1;
    @include card;
    margin-right: 15px;
    padding: 30px 20px;
  }

  .list {
    flex: 4;
    @include card;
    @include list-margin;

    .heading {
      @include heading-with-button;
    }
  }
}
