<div class="wrapper" *ngIf="compositions$ | async as compositions">
    <mat-card class="sidebar">
        <h2>Filters:</h2>
        <app-autocomplete (itemsUpdated)="onCityNameFilter($event)"></app-autocomplete>
        <mat-form-field class="example-form-field">
            <mat-label>Type</mat-label>
            <input matInput type="text" [(ngModel)]="value">
            @if (value) {
              <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            }
          </mat-form-field>
      
          <mat-slide-toggle>Operational</mat-slide-toggle>
    </mat-card>

    <mat-card class="list">
        <div class="titles">
            <h2>Compositions:</h2>
          </div>
      <div class="columns">
        <p>Type</p>
        <p>Devices</p>
        <p>Status</p>
      </div>
      <cdk-virtual-scroll-viewport
        CdkScrollable
        [itemSize]="60"
        class="example-viewport"
      >
        <div
          class="country-wrapper"
          *cdkVirtualFor="let composition of compositions"
        >
          <div
            class="country mat-elevation-z2"
            [class.not-operational]="!composition.status.isOperational"
          >
            <p>{{ composition.type }}</p>
            <p>{{ composition.devicesSize }}</p>
            <p>{{ getOperationalLabel(composition.status.isOperational) }}</p>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>
  