<div class="wrapper">
  <mat-card class="details">
    @if(details) {
    <div>
      <h2>Details for {{ details.device.name }}</h2>
      <p>
        <span class="bold">Created on:</span>
        {{ details.device.creationAt | date }}
      </p>
      <p>
        <span class="bold">Status:</span>
        {{
          details.device.status.isOperational
            ? "Operational"
            : "Not operational"
        }}
      </p>
      <p>
        <span class="bold">Composition:</span> {{ details.composition.code }}
      </p>
      <p>
        <span class="bold">Location:</span>
        {{ details.composition.locationName }}
      </p>
    </div>
    }
  </mat-card>

  <mat-card class="chart">
    <h2 class="titles">Faulty statuses from last 30 days</h2>
    <div id="chart" @fadeIn></div>
    @if (!filledStatusTimeLine) {
    <p>No data</p>
    }
  </mat-card>
</div>
