<div class="card mat-elevation-z8" @fadeIn>
  <form [formGroup]="form" class="fields-wrapper">
    <h1>Login into account</h1>
    <div class="fields">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" />
      </mat-form-field>
    </div>
  </form>

  <div class="action-button">
    <button
      mat-raised-button
      color="accent"
      [disabled]="false"
      (click)="login()"
    >
      Login
    </button>
  </div>
</div>
