<div class="wrapper login">
  <div class="card mat-elevation-z8" @fadeIn>
    <form [formGroup]="form" class="fields-wrapper">
      <h1>Log into account</h1>
      <div class="fields">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            formControlName="password"
          />
          <mat-icon
            matSuffix
            (click)="$event.stopPropagation(); hide = !hide"
            >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
        </mat-form-field>
      </div>
    </form>

    <div class="action-button">
      <button mat-button [routerLink]="'/register'">
        No account? Register here.
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="false"
        (click)="login()"
      >
        Login
      </button>
    </div>
  </div>
</div>
