<div class="heading">
  <h2>Linked compositions</h2>
  <button mat-raised-button color="accent" (click)="openLinkCompositionForm()">
    Link composition
  </button>
</div>
<ng-container *ngIf="details !== undefined">
  <div class="table" @fadeIn>
    <div class="columns">
      <p>Code</p>
      <p>Devices</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
    <div class="list-wrapper">
      <cdk-virtual-scroll-viewport
        CdkScrollable
        [itemSize]="60"
        class="example-viewport"
      >
        <div
          class="row-wrapper"
          *cdkVirtualFor="let composition of details.relatedCompositions"
        >
          <div class="row mat-elevation-z2">
            <p>{{ composition.code }}</p>
            <p>{{ composition.devicesSize }}</p>
            <p>
              {{
                composition.status.isOperational
                  ? "Operational"
                  : "Not operational"
              }}
            </p>
            <div class="action-buttons">
              <button
                mat-icon-button
                matTooltip="Unlink device"
                color="warn"
                (click)="unlinkCompositions(composition.id)"
              >
                <mat-icon>phonelink_off</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</ng-container>
