<mat-form-field class="example-chip-list">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-grid #chipGrid>
    @for (chip of chips; track chip) {
    <mat-chip-row (removed)="remove(chip)" class="mat-chip">
      {{ chip }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    placeholder="{{ placeholder }}"
    #textInput
    [formControl]="itemCtrl"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (option of options$ | async; track option) {
    <mat-option [value]="option">{{ option }}</mat-option>
    }
    <mat-option disabled>No results</mat-option>
  </mat-autocomplete>
</mat-form-field>

{{itemCtrl.value }}
