<mat-form-field class="example-chip-list">
  <mat-chip-listbox #chipGrid [formControl]="itemsCtrl" multiple>
    @for (id of itemsCtrl.value; track id) {
    <mat-chip-option (removed)="remove(id)" [selectable]="false">
      {{ getChipLabel(id) }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-option>
    }
  </mat-chip-listbox>

  <input
    matInput
    placeholder="{{ getInputPlaceholder() }}"
    [matAutocomplete]="auto"
    #textInput
    [formControl]="textCtrl"
  />
  <mat-error *ngIf="textCtrl.hasError('chipsRequired')"
    >At least one option required</mat-error
  >

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (option of options$ | async; track option.value) {
    <mat-option [value]="option.value">{{ option.label }}</mat-option>
    }
    <mat-option disabled>No results</mat-option>
  </mat-autocomplete>
</mat-form-field>
