<mat-card>
  <h1>{{ inEditMode ? "Edit country" : "Add country" }}</h1>
  <form [formGroup]="countryForm" (ngSubmit)="saveCountry()">
    <mat-form-field class="example-full-width">
      <mat-label>Country name</mat-label>
      <input
        formControlName="countryName"
        matInput
        [errorStateMatcher]="matcher"
      />
      <mat-error *ngIf="countryName?.hasError('countryExists')"
        >Country already exists</mat-error
      >
    </mat-form-field>

    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        [disabled]="
          countryForm.invalid || !countryChangedThroughEdit() || formPending()
        "
      >
        {{ inEditMode ? "Edit" : "Add" }}
      </button>
    </div>
  </form>
</mat-card>
