<div class="wrapper" *ngIf="details">
  <mat-card class="devices">
    <div class="heading">
      <h2>Devices</h2>
      <button mat-raised-button color="accent" (click)="openDeviceForm()">
        Add device
      </button>
    </div>
    <div class="columns">
      <p>Name</p>
      <p>Added on</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
    <cdk-virtual-scroll-viewport
      CdkScrollable
      [itemSize]="60"
      class="example-viewport"
    >
      <div class="row-wrapper" *cdkVirtualFor="let device of details.devices">
        <div class="row mat-elevation-z2" (click)="goToDevice(device.id)">
          <p>{{ device.name }}</p>
          <p>{{ device.creationAt | date }}</p>
          <p>
            {{
              device.status.isOperational ? "Operational" : "Not operational"
            }}
          </p>
          <p (click)="deleteDevice(device.id)">Delete</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card>

  <mat-card class="related-compositions">
    <div class="heading">
      <h2>Linked compositions</h2>
      <button
        mat-raised-button
        color="accent"
        (click)="openLinkCompositionForm()"
      >
        Link composition
      </button>
    </div>
    <div class="columns">
      <p>Code</p>
      <p>Devices</p>
      <p>Status</p>
      <p>Actions</p>
    </div>
    <cdk-virtual-scroll-viewport
      CdkScrollable
      [itemSize]="60"
      class="example-viewport"
    >
      <div
        class="row-wrapper"
        *cdkVirtualFor="let composition of details.relatedCompositions"
      >
        <div class="row mat-elevation-z2">
          <p>{{ composition.code }}</p>
          <p>{{ composition.devicesSize }}</p>
          <p>
            {{
              composition.status.isOperational
                ? "Operational"
                : "Not operational"
            }}
          </p>
          <p (click)="unlinkCompositions(composition.id)">Unlink</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</div>
